%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.edit'), edit_inventory_path(inventory)
  %li
    = link_to t('link.destroy'), inventory,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
