%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), proposal_path(@inventory.proposal)

- provide(:title, t('inventories.headers.new'))
.page-body
  %h2.text-center.py-3= t('inventories.headers.new')
  = render partial: 'form', locals: { inventory: @inventory, button: 'create' }
