/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
config/database.yml

# Ignore master key for decrypting credentials and more.
/config/master.key
.env.production
