.col-md-2.fixed-top.mt-10.d-print-none
  %ul.nav.flex-column
    %li.nav-item
      = link_to t('link.back'), root_path, class: 'nav-link'
    %li.nav-item
      = link_to t('link.edit'), edit_ikcontract_path(ikcontract), class: 'nav-link'
    %li.nav-item
      = link_to t('link.destroy'), ikcontract,
                                   method: :delete,
                                   data: { confirm: 'Вы уверены?' },
                                   class: 'nav-link'
