<div class="link-stuck no-print">
  <%= link_to t('link.back'), root_path %> |
  <%= link_to t('link.edit'), edit_ikcontract_path(@ikcontract) %> |
  <%= link_to t('link.destroy'), @ikcontract, method: :delete,
                                              data: { confirm: "Вы уверены?" }%>
</div>
<br class="no-print">
<br class="no-print">
