<% provide(:title, "Договор на проведение инспекционного контроля от
                    #{@ikcontract.ikcon_registration_date.try(:strftime, "%d.%m.%Y")}
                    № #{@ikcontract.ikcon_registration_num}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>
  Договор на проведение инспекционного контроля от <%= @ikcontract.ikcon_registration_date.try(:strftime,"%d.%m.%Y") %>
  № <%= @ikcontract.ikcon_registration_num %>
</h1>
<%= render 'form' %>
