<% provide(:title, "Договор на проведение инспекционного контроля от
                    #{@ikcontract.ikcon_registration_date.strftime("%d.%m.%Y")}") %>
<%= link_to t('link.back'), ikcontract_path(@ikcontract, certificate_id: @ikcontract.certificate_id) %>
<h1>Договор на проведение инспекционного контроля от <%= @ikcontract.ikcon_registration_date.strftime("%d.%m.%Y") %></h1>

<%= render 'form' %>

<%= link_to t('link.back'), ikcontract_path(@ikcontract, certificate_id: @ikcontract.certificate_id) %>
