<% provide(:title, "Договор на проведение инспекционного контроля от
                    #{@ikcontract.ikcon_registration_date.strftime("%d.%m.%Y")}") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Договор на проведение инспекционного контроля от <%= @ikcontract.ikcon_registration_date.strftime("%d.%m.%Y") %></h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
