<% provide(:title, "Договор на инспекционный контроль") %>
<%= link_to t('link.back'), certificate_path(@certificate, solution_id: @certificate.solution_id) %>
<h1>Договор на инспекционный контроль</h1>

<%= render 'form' %>

<%= link_to t('link.back'), certificate_path(@certificate, solution_id: @certificate.solution_id) %>
