<% provide(:title, "Договор на инспекционный контроль") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Договор на инспекционный контроль</h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
