<% provide(:title, "Договор на проведение работ по сертификации от
                    #{@certcontract.cecon_registration_date.strftime("%d.%m.%Y")}
                    № #{@certcontract.cecon_registration_num}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>
  Договор на проведение работ по сертификации от <%= @certcontract.cecon_registration_date.strftime("%d.%m.%Y") %>
  № <%= @certcontract.cecon_registration_num %>

</h1>
<%= render 'form' %>
