- provide(:title, 'Договор на проведение работ по сертификации')
= render 'shared/links'
%h1 Договор на проведение работ по сертификации
= render partial: 'form', locals: { certcontract: @certcontract }
