- provide(:title, 'Договор на проведение работ по сертификации')
.link-stuck
  = link_to t('link.back'), :back
%br
%h1 Договор на проведение работ по сертификации
= render partial: 'form', locals: { certcontract: @certcontract }
