<% provide(:title, "Договор на проведение работ по сертификации") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Договор на проведение работ по сертификации</h1>
<%= render 'form' %>
