%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), proposal_path(@certcontract.proposal)

- provide(:title, t('certcontracts.headers.new'))
.page-body
  %h2.text-center.py-3= t('certcontracts.headers.new')
  = render partial: 'form', locals: { certcontract: @certcontract, button: 'create' }
