<% provide(:title, "Решение по заявке № #{@solution_proposal.solprop_number}") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Решение по заявке № <%= @solution_proposal.solprop_number %></h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
