<% provide(:title, "Решение по заявке") %>
<h1>"Решение по заявке"</h1>

  <ul>
    <li>
      <%= link_to @solution_proposal.solprop_number, proposal_solution_proposal_path(@proposal) %>
    </li>
  </ul>

<%= link_to t('link.new'), new_solution_proposal_path %>
