<% provide(:title, "Решения по заявкам") %>
<h1>"Решения по заявкам"</h1>
  <% @solution_proposals.each do |solprop| %>
    <ul>
      <li>
        <%= link_to solprop.solprop_number, solution_proposal_path(solprop, proposal_id: solprop.proposal_id) %>
      </li>
    </ul>
  <% end %>
<br>
<br>
<br>
