<%= provide(:title, "Новое решение по заявке") %>
<%= link_to t('link.back'), proposal_path(@proposal) %>
<h1>Новое решение по заявке</h1>

<%= render 'form' %>

<%= link_to t('link.back'), proposal_path(@proposal) %>
