%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.edit'), edit_conclusion_path(conclusion)
  %li
    = link_to t('link.destroy'), conclusion,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
  - unless conclusion.solution
    %li
      = link_to t('link.new_solution'), new_solution_path(conclusion_id: conclusion.id)
