<%= provide(:title, "Заключение эксперта о выдаче сертификата") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Заключение эксперта о выдаче сертификата</h1>
<%= render 'form' %>
