<%= provide(:title, "Заключение эксперта о выдаче сертификата") %>
<%= link_to t('link.back'), solution_proposal_path(@solution_proposal, proposal_id: @solution_proposal.proposal_id) %>
<h1>Заключение эксперта о выдаче сертификата</h1>

<%= render 'form' %>

<%= link_to t('link.back'), solution_proposal_path(@solution_proposal, proposal_id: @solution_proposal.proposal_id) %>
