.link-stuck.no-print
  = link_to t('link.back'), :back
  |
  = link_to t('link.edit'), edit_attachment_path(attachment)
  |
  = link_to t('link.print_PDF'), attachment_path(attachment, format: 'pdf'), target: '_blank'
  |
  = link_to t('link.destroy'), attachment, method: :delete,
                                           data: { confirm: 'Вы уверены?' }
%br.no-print
%br.no-print
