%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.print_pdf'), attachment_path(attachment, format: 'pdf'), target: '_blank'
  %li
    = link_to t('link.edit'), edit_attachment_path(attachment)
  %li
    = link_to t('link.destroy'), attachment,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
