%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), certificate_path(@attachment.certificate)

- provide(:title, t('attachments.headers.new'))
.page-body
  %h2.text-center.py-3= t('attachments.headers.new')
  = render partial: 'form', locals: { attachment: @attachment, button: 'create' }
