%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), setting_path(@setting)

- provide(:title, t('settings.headers.edit'))
.page-body
  %h2.text-center.py-3= t('settings.headers.edit')
  = render partial: 'form', locals: { setting: @setting, button: 'edit' }
