.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item
      = link_to t('link.back'), root_path, class: 'nav-link'

- provide(:title, t('settings.headers.new'))
.page-body
  %h2.text-center.py-3= t('settings.headers.new')
  = render partial: 'form', locals: { setting: @setting, button: 'create' }
