%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.print'), permission_path(permission, format: 'pdf'), target: '_blank', rel: 'noopener noreferrer'
  %li
    = link_to t('link.edit'), edit_permission_path(permission)
  %li
    = link_to t('link.destroy'), permission,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
