<% provide(:title, "Редактирование разрешения на применение знака соответствия от
                    #{@permission.perm_registration_date.strftime("%d.%m.%Y")} № #{@permission.perm_registration_num}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>
  Редактирование разрешения на применение знака соответствия от
  <%= @permission.perm_registration_date.strftime("%d.%m.%Y") %> № <%= @permission.perm_registration_num %>
</h1>
<%= render 'form' %>
