<% provide(:title, "Разрешение на применение знака соответствия") %>
<%= link_to t('link.back'), certificate_path(@certificate, solution_id: @certificate.solution_id) %>
<h1>Разрешение на применение знака соответствия</h1>

<%= render 'form' %>

<%= link_to t('link.back'), certificate_path(@certificate, solution_id: @certificate.solution_id) %>
