<% provide(:title, "Разрешение на применение знака соответствия") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Разрешение на применение знака соответствия</h1>
<%= render 'form' %>
