%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), certificate_path(@permission.certificate)

- provide(:title, t('permissions.headers.new'))
.page-body
  %h2.text-center.py-3= t('permissions.headers.new')
  = render partial: 'form', locals: { permission: @permission, button: 'create' }
