<% provide(:title, "Заявка № #{@proposal.prop_number}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Заявка № <%= @proposal.prop_number %></h1>
<%= render 'form' %>
