<% provide(:title, "Заявка № #{@proposal.prop_number}") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Заявка № <%= @proposal.prop_number %></h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
