<% provide(:title, "Заявки") %>
<%= link_to t('link.new_proposal'), new_proposal_path %>
<h1>Заявки</h1>

<% @proposals.each do |proposal| %>
  <ul>
    <li>
      <%= link_to "#{proposal.prop_date_from.strftime("%d.%m.%Y")} #{proposal.prop_number} #{proposal.prop_applic_name}", proposal_path(proposal) %>
    </li>
  </ul>
<% end %>
<br>
<br>
<br>
<%= link_to t('link.new_proposal'), new_proposal_path %>
