<% provide(:title, "Заявки") %>
<h1>Заявки</h1>

<% @proposals.each do |proposal| %>
  <ul>
    <li>
      <%= link_to proposal.prop_number, proposal_path(proposal) %>
    </li>
  </ul>
<% end %>

<%= link_to t('link.new'), new_proposal_path %>
