- provide(:title, t('proposals.headers.new'))
= render 'shared/links'
.page-body
  %h2.text-center.py-3= t('proposals.headers.new')
  = render partial: 'form', locals: { proposal: @proposal, button: 'create' }
