- provide(:title, "Редактирование Сертификата #{@certificate.cert_registration_num}")
= render 'shared/links'
%h1
  Редактирование сертификата #{@certificate.cert_registration_num}
= render partial: 'form', locals: { certificate: @certificate }
