<% provide(:title, "Редактирование Сертификата #{@certificate.cert_registration_num}") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Редактирование сертификата <%= @certificate.cert_registration_num %></h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
