<% provide(:title, "Редактирование Сертификата #{@certificate.cert_registration_num}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Редактирование сертификата <%= @certificate.cert_registration_num %></h1>
<%= render 'form' %>
