<% provide(:title, "Редактирование Сертификата #{@certificate.cer_number}") %>
<h1>Редактирование сертификата <%= @certificate.cer_number %></h1>

<%= render 'form' %>

<%= link_to t('link.back'), certificates_path %>
