%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), solution_path(@certificate.solution)

- provide(:title, t('certificates.headers.new'))
.page-body
  %h2.text-center.py-3= t('certificates.headers.new')
  = render partial: 'form', locals: { certificate: @certificate, button: 'create' }
