<% provide(:title, "Сертификат") %>
<%= link_to t('link.back'), solution_path(@solution, conclusion_id: @solution.conclusion_id) %>
<h1>Сертификат</h1>

<%= render 'form' %>

<%= link_to t('link.back'), solution_path(@solution, conclusion_id: @solution.conclusion_id) %>
