<%= provide(:title, "Протокол идентификации продукции") %>
<%= link_to t('link.back'), :back %>
<br>
<h1>Протокол идентификации продукции</h1>
<%= render 'form' %>
<br>
<%= link_to t('link.back'), :back %>
