<%= provide(:title, "Протокол идентификации продукции") %>
<%= link_to t('link.back'), solution_proposal_path(@solution_proposal, proposal_id: @solution_proposal.proposal_id) %>
<h1>Протокол идентификации продукции</h1>

<%= render 'form' %>

<%= link_to t('link.back'), solution_proposal_path(@solution_proposal, proposal_id: @solution_proposal.proposal_id) %>
