%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), solution_proposal_path(@protocol.solution_proposal)

- provide(:title, t('protocols.headers.new'))
.page-body
  %h2.text-center.py-3= t('protocols.headers.new')
  = render partial: 'form', locals: { protocol: @protocol, button: 'create' }
