/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #eaeaea;
$gray: grey;
$gray-darker: grey;
$gray-lighter: grey;
$black-line: #262626;
$width-page: 710px;
$spacer: 1rem;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.right {
  text-align: right;
}

/* typography */


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

.red-text {
  color: red;
}

.contant {
  width: 80%;
  margin-right: auto;
  margin-left: auto;

}

.page-body {
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
  width: $width-page;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 2em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.6em;
    letter-spacing: -1px;
    text-align: center;
    font-weight: normal;
    color: $gray;
  }
}

.paragraph {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 24px;
}

.inline{
  float: left;
}

.line {
  border-bottom: 1px solid $black-line;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 24px;
  min-width: 10%;
  width: 100%;
}

.line-light {
  border-bottom: 1px solid $gray-light;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 24px;
  min-width: 10%;
  width: 100%;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.hint {
  font-size: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.note {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.caption {
  font-weight: bold;
  text-align: center;
}

.div-table-header {
  width: 100%;
  font-weight: bold;
  color: #00008b;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $gray-light;
}

.border {
  border: 1px solid $black-line;
}

.border-b {
  border-bottom: 1px solid $black-line;
}

.border-lt {
  border-left: 1px solid $black-line;
  border-top: 1px solid $black-line;
}

.border-ltb {
  border-left: 1px solid $black-line;
  border-top: 1px solid $black-line;
  border-bottom: 1px solid $black-line;
}

.border-ltr {
  border-left: 1px solid $black-line;
  border-top: 1px solid $black-line;
  border-right: 1px solid $black-line;
}

.div-table {
  display: table;
}

.div-table-row {
  display: table-row;
}

.div-table-col-l {
  display: table-cell;
  background-color: $gray-lighter;
  color: #00008b;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid $black-line;
}

.div-table-col-r {
  display: table-cell;
  background-color: $gray-lighter;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid $black-line;
}

.div-table-col {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
}

.div-table-col-hr {
  display: table-cell;
  border-bottom: 1px solid $black-line;
  padding-left: 10px;
  padding-right: 10px;
}


.col-align-bot {
  vertical-align: bottom;
}

.col-align-top {
  vertical-align: top;
}

.col-width-12 {
  width: $width-page;
}

.col-width-11 {
  width: 11/12*$width-page;
}

.col-width-10 {
  width: 10/12*$width-page;
}

.col-width-9 {
  width: 9/12*$width-page;
}

.col-width-8 {
  width: 8/12*$width-page;
}

.col-width-7 {
  width: 7/12*$width-page;
}

.col-width-6 {
  width: 6/12*$width-page;
}

.col-width-5 {
  width: 5/12*$width-page;
}

.col-width-4 {
  width: 4/12*$width-page;
}

.col-width-3 {
  width: 3/12*$width-page;
}

.col-width-2 {
  width: 2/12*$width-page;
}

.col-width-1 {
  width: 1/12*$width-page;
}

.ol-left {
  padding-left: 0px;
  list-style-position: inside;
}

.li-left {
  padding-left: 10px;
}

.ol-table {
  padding-left: 20px;
  font-size: 14px;
}

.li-none {
  list-style-type: none;
}

.link-stuck {
  position: fixed;
  overflow-y: auto;
  top: 50px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  background: #fff;
}

// Indents

.mt-10 {
  margin-top: 6 * $spacer;
}

@media print
{
  .contant, body, .page-body {
    width: 710px;
    margin: 0;
    padding: 0;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .more {
    page-break-after: always;
  }
}









