%ul.sidebar-nav.d-print-none
  %li
    = link_to t('link.back'), root_path
  %li
    = link_to t('link.edit'), edit_solution_path(solution)
  %li
    = link_to t('link.destroy'), solution,
                                 method: :delete,
                                 data: { confirm: 'Вы уверены?' }
  %li
    = link_to t('link.new_certificate'), new_certificate_path(solution_id: solution.id)
