<% provide(:title, "Решение о выдаче сертификата от #{@solution.sol_date_from.try(:strftime,"%d.%m.%Y")}") %>
<div class="link-stuck">
  <%= link_to t('link.back'), :back %>
</div>
<br>
<h1>Решение о выдаче сертификата <%= @solution.sol_date_from.try(:strftime,"%d.%m.%Y") %></h1>
<%= render 'form' %>
