%ul.sidebar-nav.d-print-none
  %li= link_to t('link.back'), conclusion_path(@solution.conclusion)

- provide(:title, t('solutions.headers.new'))
.page-body
  %h2.text-center.py-3= t('solutions.headers.new')
  = render partial: 'form', locals: { solution: @solution, button: 'create' }
