.col-md-2.fixed-top.mt-10
  %ul.nav.flex-column
    %li.nav-item= link_to t('link.back'), conclusion_path(@solution.conclusion), class: 'nav-link'

- provide(:title, t('solutions.headers.new'))
%h2.text-center.py-3= t('solutions.headers.new')
= render partial: 'form', locals: { solution: @solution, button: 'create' }
