<footer class="footer no-print">
  <nav>
    <ul>
      <li><%= link_to t('link.home'), root_path %></li>
      <li><%= link_to t('link.settings'), settings_path %></li>
      <li><%= link_to t('link.proposals'), proposals_path %></li>
      <li><%= link_to t('link.certificates'), certificates_path %></li>
    </ul>
  </nav>
</footer>
