%header
  %nav.navbar.navbar-expand-md.bg-dark.navbar-dark.fixed-top
    %b= link_to 'CERTIFICATION', root_path, class: 'navbar-brand'
    .col.d-flex.justify-content-end
      - if logged_in?
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle#navbardrop{ href: '#', 'data-toggle': 'dropdown' }
              = t('link.account')
              %b.caret
            .dropdown-menu
              = link_to t('link.logout'), logout_path, method: :delete, class: 'dropdown-item'
      - else
        %ul.navbar-nav
          %li.nav-item= link_to t('link.login'), login_path, class: 'nav-link'
