<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container no-print">
    <%= link_to 'Certification', root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right no-print">
        <li><%= link_to t('link.new_proposal'), new_proposal_path %></li>
      </ul>
    </nav>
  </div>
</header>
